@function rem($value) {
  $result: ($value / $rem-base) * 1rem;

  @return #{$result};
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

h1,
.h1 {
  font-size: rem(30px);

  @include media("md") {
    font-size: rem(45px);
  }

  @include media("lg") {
    font-size: rem(60px);
  }
}